<div class="container">
  <div class ="row show-hide-message" ng-show="updateItem.successMsg">
    <div class="alert alert-success">{{updateItem.successMsg}}</div>
  </div>
  <div class ="row show-hide-message" ng-show="updateItem.errorMsg">
    <div class="alert alert-danger">{{updateItem.errorMsg}}</div>
  </div>
  <div class="tabPadding container" >
        <div class="row">
          <div class="col-sm-4">
            <label for="title">카테고리</label><span style="color: #e96725">(필수)</span>
            <div class="input-group">
              <select  ng-disabled="updateItem.disabled"  class="form-control" name="mySelect" id="mySelect"
                ng-options="option.name for option in updateItem.data.availableOptions track by option.id"
                ng-model="updateItem.data.selectedOption">
              </select>
              <a class="input-group-addon btn btn-default" ng-click="updateItem.readMenu(updateItem.data.selectedOption)">확인</a>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="title">상품분류</label><span style="color: #e96725">(필수)</span>
            <div class="row" >
              <div class="col-sm-12">
                <div ng-hide="updateItem.readMenuStatus">
                  <input type="text" class="form-control" id="name" ng-model="updateItem.itemData.type_description" placeholder="상품명을 입력해주세요." disabled>
                </div>
                <div ng-show="updateItem.readMenuStatus">
                  <select  ng-disabled="updateItem.disabled"  class="form-control" name="mySelect" id="mySelect"
                    ng-options="option.name for option in updateItem.data2.availableOptions track by option.id"
                    ng-model="updateItem.data2.selectedOption">
                  </select>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-4">
            <label for="name">상품명</label><span style="color: #e96725">(필수)</span>
            <input ng-disabled="updateItem.disabled" type="text" class="form-control" id="name" ng-model="updateItem.itemData.name" placeholder="상품명을 입력해주세요.">
          </div>
        </div>
        <br>
        <div>
            <button style="width: 100%;" ng-click="updateItem.updateItem({name: updateItem.itemData.name, category_id: updateItem.data.selectedOption.id, item_type: updateItem.data2.selectedOption.id})" ng-disabled="updateItem.disabled"  type="submit" class="btn btn-success">상품명 및 카테고리 변경</button>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12" ng-hide="myCroppedImage">
                <label>썸네일 이미지</label>
                <div class="text-center">
                  <div class="image-default">
                    <img  class="img-responsive center-block" ng-src="{{updateItem.itemData.thumbnail}}">
                  </div>
                    <div class="">
                      <input class="btn" style="display: inline; margin-left: 70px;"type="file" id="fileInput"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 썸네일 이미지 올린 후 -->
        <div class="row">
            <div ng-show="myCroppedImage">
        <!-- 썸네일 이미지를 업로드 후 사라짐 시작-->
                <div class="col-sm-6"  ng-hide="updateItem.thumbnail">
                    <div class="media">
                      <div class="media-body">
                        <label>썸네일</label>
                      </div>
                      <div class="media-right">
                      </div>
                    </div>
                    <br>
                    <div class="text-center" >
                      <div class="cropArea" ng-show="myCroppedImage">
                        <ui-cropper image="updateItem.myImage" area-type="rectangle" result-image="myCroppedImage" result-image-size='{w: 400,h: 250}' ></ui-cropper>
                      </div>
                    </div>
                </div>
        <!-- 썸네일 이미지를 업로드 후 사라짐 종료-->

                <div class="col-sm-6">
                      <div>
                          <label>썸네일 이미지</label>
                      </div>
                      <br>
                      <div class="text-center" >
                        <div>
                          <img style="background-color:#000000;"ng-src="{{myCroppedImage}}" />
                        </div>
                        <br>
                        <div ng-hide="updateItem.thumbnail">
                          <p>검은색 공간이 보이지 않도록 채워주세요.</p>
                          <a ng-disabled="updateItem.disabled"  ng-click="updateItem.readCropImage({base64Url: myCroppedImage});"class="btn btn-enroll">썸네일 업로드</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <!-- 썸네일 종료 -->


        <br>


        <div class="row">
          <div class="alert alert-info" ng-show="loading">이미지 업로드 중입니다.
          </div>
              <div class="col-sm-6">

              <label>상품 메인 이미지</label>
        <!-- upload.minaThumbnail.dataUrl / 작품을 업로드 했을 때 이미지가 변환되게 ng-show & hide 속성을 추가 -->
                <div class="text-center">
                  <div class="image-default">
                    <img  class="img-responsive center-block" ng-src="{{updateItem.mainThumbnail.dataUrl || updateItem.itemData.image}}">
                  </div>
        <!-- 작품이 성공적으로 업로드 완료 되었을 때 숨김 -->
                  <br>
                  <div  ng-hide="updateItem.mainPhoto">
                    <label class="btn btn-success">이미지 찾기
                        <input ng-disabled="updateItem.disabled"  type="file" file-model="updateItem.file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().updateItem.mainPhotoChanged(this.files)">
                    </label>
                        <button ng-disabled="updateItem.disabled" ng-click="updateItem.readPhoto()" class="btn btn-default">이미지 업로드</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
              <label>상품 설명 이미지</label>
            <!-- upload.minaThumbnail.dataUrl / 작품을 업로드 했을 때 이미지가 변환되게 ng-show & hide 속성을 추가 -->
                <div class="text-center">
                  <div class="image-default">
                    <img  class="img-responsive center-block" ng-src="{{updateItem.explainThumbnail.dataUrl || updateItem.itemData.explain}}">
                  </div>
            <!-- 작품이 성공적으로 업로드 완료 되었을 때 숨김 -->
                  <br>
                  <div ng-hide="updateItem.explainPhoto">
                    <label class="btn btn-success">이미지 찾기
                        <input ng-disabled="updateItem.disabled"  type="file" file-model="updateItem.file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().updateItem.explainPhotoChanged(this.files)">
                    </label>
                        <button ng-disabled="updateItem.disabled"  ng-click="updateItem.readPhotoExplain()" class="btn btn-default">이미지 업로드</button>
                  </div>
                </div>
              </div>
        </div>
            <br>

        <div class="row">
              <div class="col-sm-12">
                <div class ="row show-hide-message" ng-show="updateItem.successMsg">
                  <div class="alert alert-success">{{updateItem.successMsg}}</div>
                </div>
                <div class ="row show-hide-message" ng-show="updateItem.errorMsg">
                  <div class="alert alert-danger">{{updateItem.errorMsg}}</div>
                </div>
                <br>
                <div class="form-group text-center">
                  <button style="width: 100%;" ui-sref="app.management.items" ng-disabled="updateItem.disabled"  type="submit" class="btn btn-danger">취소</button>
                </div>
              </div>
        </div>
  </div>
