<div class="container-fluid">
<div class="row">
  <div class ="row show-hide-message" ng-show="getTypeItem.successMsg">
    <div class="alert alert-success">{{getTypeItem.successMsg}}</div>
  </div>
  <div class ="row show-hide-message" ng-show="getTypeItem.errorMsg">
    <div class="alert alert-danger">{{getTypeItem.errorMsg}}</div>
  </div>
  <div class="col-sm-6">
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 이미지">
        <div class="tabPadding">
          <div class="photo-image">
            <img class="img-responsive center-block" ng-src="{{getTypeItem.itemData.image}}" alt="{{getTypeItem.itemData.title}}"><span class="mask"></span>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

	<div class="col-sm-6" >
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 정보">
        <div class="tabPadding">
          <div>
            <div>
              <h1>{{getTypeItem.itemData.item_name}}</h1>
            </div>
            <div>
              <label>소비자 가격 : <span style="color: red;">{{getTypeItem.data.selectedOption.id}}</span>원</label>
            </div>
            <div>
              <label>옵션&nbsp;<i class="fa fa-question-circle" aria-hidden="true"></i></label>
            </div>
            <div class="input-group">
              <select  ng-disabled="getTypeItem.disabled"  class="form-control" name="mySelect" id="mySelect"
                ng-options="option.name for option in getTypeItem.data.availableOptions track by option.id"
                ng-model="getTypeItem.data.selectedOption">
              </select>
              <div class="input-group-btn">
                <button class="btn btn-default" ng-click="getTypeItem.addItem(getTypeItem.data.selectedOption)"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div>
            <li style="margin-top: 5px;"class="list-group-item" ng-repeat="list in getTypeItem.optionList">
              <div class="row">
                <div class="col-sm-4">
                  <span>옵션: <label class="control-label" for="option">{{list.kind}}</label></span>
                </div>
                <div class="col-sm-4 text-center">
                  <input type="number" class="form-control col-xs-1 text-center" ng-model="list.amount">
                </div>
                <div class="col-sm-4 text-right">
                  <p>{{list.price * list.amount}}원</p>
                </div>
              </div>
            </li>
            <br>
            <div class="text-right" ng-show="getTypeItem.optionItem">
              <p>총 상품금액 : {{getTypeItem.optionList|sumByKey: ['amount','price']}}원</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <a style="width: 100%;" ng-click="getTypeItem.createBasket({item_id: getTypeItem.itemData.item_id})" class="btn btn-warning">장바구니</a>
            </div>
            <div class="col-sm-6">
              <a style="width: 100%;" ng-click="getTypeItem.createOrder({item_id: getTypeItem.itemData.item_id, amount: list.amount, price: getTypeItem.data.selectedOption.id, kind_of: getTypeItem.data.selectedOption.name})" class="btn btn-success">구매하기</a>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<br>
<br>
<div>
    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
          <uib-tab index="0" heading="상세정보">
            <div class="tabPadding">
              <div class="photo-image">
                <img style="width: 100%;"class="img-responsive center-block" ng-src="{{getTypeItem.itemData.explain}}" alt="{{getTypeItem.itemData.name}}"><span class="mask"></span>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="상품문의">
            <div class="tabPadding">
            Some Tab Content
            </div>
          </uib-tab>
          <uib-tab index="2" heading="배송/반품/교환">
            <div class="tabPadding">
            More Tab Content
            </div>
          </uib-tab>
        </uib-tabset>
    </form>
</div>
</div>
