<div class="container-fluid">
<div class="row">
  <div class ="row show-hide-message" ng-show="getTypeItem.successMsg">
    <div class="alert alert-success">{{getTypeItem.successMsg}}</div>
  </div>
  <div class ="row show-hide-message" ng-show="getTypeItem.errorMsg">
    <div class="alert alert-danger">{{getTypeItem.errorMsg}}</div>
  </div>
  <div class="col-sm-6">
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 이미지">
        <div class="tabPadding">
          <div class="photo-image">
            <img class="img-responsive center-block" ng-src="{{getTypeItem.itemData.image}}" alt="{{getTypeItem.itemData.title}}"><span class="mask"></span>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

	<div class="col-sm-6" >
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 정보">
        <div class="tabPadding">
          <div class="table-responsive">
      		  <table class="table table-bordered">
      		    <tbody>
      		      <tr>
      		        <td>상품명</td>
      		        <td>{{getTypeItem.itemData.item_name}}</td>
      		      </tr>
      					<tr>
      						<td>상품가격</td>
      						<td>{{getTypeItem.data.selectedOption.id}}</td>
      					</tr>
                <tr>
                  <td>옵션</td>
                  <td>
                    <select  ng-disabled="getTypeItem.disabled"  class="form-control" name="mySelect" id="mySelect"
                      ng-options="option.name for option in getTypeItem.data.availableOptions track by option.id"
                      ng-model="getTypeItem.data.selectedOption">
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>수량</td>
                  <td>
                    <input type="number" class="form-control" id="amount" ng-model="getTypeItem.amount">
                  </td>
                </tr>
                <tr>
                  <td>상품 총 가격</td>
                  <td><p>{{getTypeItem.amount*getTypeItem.data.selectedOption.id}}원</p></td>
                </tr>
      		    </tbody>
      		  </table>
      	  </div>
          <div class="row">
            <div class="col-sm-6">
              <a style="width: 100%;" ng-click="getTypeItem.createBasket({item_id: getTypeItem.itemData.item_id})" class="btn btn-warning">장바구니</a>
            </div>
            <div class="col-sm-6">
              <a style="width: 100%;" ng-click="getTypeItem.createOrder({item_id: getTypeItem.itemData.item_id, amount: getTypeItem.amount, price: getTypeItem.data.selectedOption.id, kind_of: getTypeItem.data.selectedOption.name})" class="btn btn-success">구매하기</a>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<br>
<br>
<div>
    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
          <uib-tab index="0" heading="상세정보">
            <div class="tabPadding">
              <div class="photo-image">
                <img style="width: 100%;"class="img-responsive center-block" ng-src="{{getTypeItem.itemData.explain}}" alt="{{getTypeItem.itemData.name}}"><span class="mask"></span>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="상품문의">
            <div class="tabPadding">
            Some Tab Content
            </div>
          </uib-tab>
          <uib-tab index="2" heading="배송/반품/교환">
            <div class="tabPadding">
            More Tab Content
            </div>
          </uib-tab>
        </uib-tabset>
    </form>
</div>
</div>
