<div>
    <button ui-sref="app.writeArticle">시안의뢰하기</button>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" ng-repeat="article in boardCtrl.boardData | limitTo: boardCtrl.itemsPerPage:boardCtrl.itemsPerPage*(boardCtrl.currentPage-1)">
            <th>{{article.id}}</th>
            <th ui-sref="app.board.show({article_id: article.id})">
                {{article.title}}
                <i class="fa fa-lock" aria-hidden="true"></i>
            </th>
            <th>{{article.username}}</th>
            <th>{{article.created  |  date:'yyyy/MM/dd h:mma'}}</th>
        </tr>
        </tbody>
    </table>
    <ul class="pagination-sm" uib-pagination  boundary-links="true"  total-items="boardCtrl.totalItems" ng-model="boardCtrl.currentPage" ng-change="boardCtrl.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>