<div id="main-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div id="logo" class="navbar-header">
            <a class="navbar-brand" ng-href="/">
                <span style="font-size: 1.2em; font-weight: bold;">ILJUSIGN</span>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <!-- 메뉴 타입 -->
                <!-- <li ng-repeat="header in headers"><a ui-sref="app.{{header.description_eng}}({code: 0})" ui-sref-active="active">{{header.description}}</a></li> -->
                <li ng-show="main.authorized"><a ui-sref="app.management.orderStatus">관리자 페이지</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="main.isLoggedIn"><a ui-sref="app.login">로그인</a></li>
                <li ng-hide="main.isLoggedIn"><a ui-sref="app.registerStep1" >회원가입</a></li>
                <li ng-show="main.isLoggedIn" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{main.user.username}}&nbsp<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="app.user" ui-sref-active="active">계정정보</a></li>
                        <li><a ui-sref="app.commerceDetail" ui-sref-active="active">주문정보</a></li>
                        <li><a ui-sref="app.basket" ui-sref-active="active">장바구니</a></li>
                        <li role="separator" class="divider"></li>
                        <!-- <li class="dropdown-header">Nav header</li> -->
                        <li><a href="/" ng-click="main.logout()">접속 종료</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
