*.log
/mysql.js

/controllers/api/privacy/*.js

/assets/images/*.jpg
/assets/images/items/explain/*.jpg
/assets/images/items/main/*.jpg
/assets/images/items/banner/*.jpg
/assets/images/items/gallery/*.jpg
/assets/images/items/thumbnail/*.png


/assets/app.css
/assets/app.js
/assets/module.js

/assets/video/
/node_modules/
.idea/workspace.xml.rej
