<div ng-hide="main.authorized">
    <menu-item></menu-item>
    <div class="container" style="margin-top: 50px; margin-bottom: 50px;" ng-hide>
        <div class="row">
            <div class="col-sm-2">
                <company-privacy-information></company-privacy-information>
            </div>
            <div class="col-sm-8"  ui-view="bodyContent">
            </div>
            <div class="col-sm-2">
                <user-quick-menu></user-quick-menu>
            </div>
        </div>
    </div>
</div>

<div ng-show="main.authorized">
    <admin-header></admin-header>
    <div class="container" style="margin-top: 10px;" ui-view="adminContent">
    </div>
</div>
