
  <div class="resetForm">
    <p class="title">비밀번호 찾기</p>
    <div class ="row show-hide-message" ng-show="password.successMsg">
      <div class="alert alert-success">{{password.successMsg}}</div>
    </div>
    <div class ="row show-hide-message" ng-show="password.errorMsg">
      <div class="alert alert-danger">{{password.errorMsg}}
      </div>
    </div>



    <form name="userForm" ng-submit="password.sendPassword(resetData, userForm.$valid)" novalidate>
        <div>
          <input ng-disabled="password.disabled"  placeholder="아이디를 입력해주세요." class="form-control" type="text" name="username" ng-model="password.resetData.username" required>
        </div>
        <div>
          <button style="width:100%;" ng-disabled="password.disabled"  class="btn btn-enroll" type="submit">확인</button>
        </div>
   </form>

</div>