/*	--------------------------------------------------
                <!-- 전체 적용--!>
                 배경 color: #000000;
                 선 rgba(231, 231, 231, 1);
                 글자 #949494;
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- 전체 스타일 커스텀  --!>
-------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
}
#wrap {
  height: 100%;
}
#body {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}
#footer {
  padding: 25px 10px 25px 10px;
  width: 100%;
  height: 75px;
  background-color: #000;
}
.container {
  padding: 0px;
}
.p {
  margin: 0px;
}
.tabPadding {
  padding: 25px;
}
.btn-enroll {
  background-color: #616161;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}
.btn-enroll:hover,
.btn-enroll:focus {
  color: #fff;
}
.jumbotron {
  margin: 0px;
}
.cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}
/*	--------------------------------------------------
  <!-- Start custom Modal --!>
-------------------------------------------------- */
.modal-header,
.close {
  background-color: #616161;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
p.modal-title {
  color: #fff !important;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
.modal-body {
  margin: 10px;
}
.modal-footer,
.modal-footer a {
  background-color: #f9f9f9;
  color: #000 !important;
  text-decoration: none;
}
.modal-body input,
.modal-body button {
  min-height: 50px;
  font-size: 1em;
  font-weight: bold;
}
/*	--------------------------------------------------
  <!-- End custom Modal --!>
-------------------------------------------------- */
/*	--------------------------------------------------
  <!-- Start custom lougout --!>
-------------------------------------------------- */
.dizzy-gillespie {
  filter: saturate(3);
  width: 0.1px;
  height: 0.1px;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
  margin: auto;
}
.dizzy-gillespie::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -40px;
  margin-top: -40px;
  content: '';
  height: 0.1;
  width: 0.1;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}
.dizzy-gillespie::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -10px;
  margin-top: -10px;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #fff;
}
/*	--------------------------------------------------
  <!-- End custom lougout --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom resetForm --!>
-------------------------------------------------- */
div#resetForm {
  min-height: 100%;
  background-color: #616161;
  padding-top: 50px;
}
div#resetForm a.go-home {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  text-align: center;
}
div#resetForm p.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
div#resetForm label {
  margin-left: 5px;
}
div#resetForm input {
  min-height: 50px;
  font-size: 1em;
  font-weight: bold;
}
div#resetForm button {
  min-height: 50px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
}
.resetForm {
  margin: 0 auto;
  width: 470px;
  padding: 40px;
  border-radius: 3px;
  background: #fff;
}
@media screen and (max-width: 550px) {
  div#resetForm {
    min-height: 100%;
    padding-top: 10px;
  }
  .resetForm {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    padding: 20px;
  }
  div#resetForm a.go-home {
    font-size: 2em;
  }
  div#resetForm p.title {
    font-size: 1.5em;
  }
}
/*	--------------------------------------------------
      <!-- End Custom resetForm --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom 개인 가입 약관 동의 --!>
-------------------------------------------------- */
.cont_terms {
  overflow-y: auto;
  height: 94px;
  padding: 15px;
  font-size: 12px;
  color: #767676;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #e5e5e5;
}
.tit_terms {
  font-size: 1em;
  font-weight: bold;
}
.check_agree {
  margin-top: 10px;
  font-size: 0.8em;
}
input#termsAgree.input_check {
  min-height: 0px;
}
/*	--------------------------------------------------
      <!-- End Custom 개인 가입 약관 동의 --!>
-------------------------------------------------- */
/*	--------------------------------------------------
<!-- #navbar-main --!>
-------------------------------------------------- */
#main-navbar.navbar-default .navbar-brand {
  background-color: #fff;
  color: #000;
}
#main-navbar.navbar-default {
  margin-bottom: 0px;
  font-size: 15px;
  background-color: #fff;
  border-bottom-width: 1px;
}
@media screen and (min-width: 320px) {
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin: 0px;
  }
}
#main-navbar.navbar-default .navbar-nav>li>a {
  color: #000;
  background-color: #fff;
}
#main-navbar.navbar-default .navbar-nav>li>a:hover,
#main-navbar.navbar-default .navbar-nav>li>a:focus {
  color: #000;
  background-color: #fff;
}
#main-navbar.navbar-default .navbar-nav>.active>a,
#main-navbar.navbar-default .navbar-nav>.active>a:hover,
#main-navbar.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #fff;
}
#main-navbar.navbar-default .navbar-toggle {
  background-color: #fff;
  border: 0px;
}
#main-navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
#main-navbar.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
#main-navbar.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/*	--------------------------------------------------
            <!--div.scrollmenu Start--!>
-------------------------------------------------- */
div.scrollmenu {
  background-color: #7aaac0;
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #777;
}
/*	--------------------------------------------------
            <!--div.scroll-submenu Start--!>
-------------------------------------------------- */
div.scroll-submenu {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}
div.scroll-submenu a {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scroll-submenu a:hover {
  background-color: #e5e5e5;
}
/*	--------------------------------------------------
      <!-- Custom items Card  --!>
-------------------------------------------------- */
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card {
  margin-top: 25px;
  box-sizing: border-box;
  background-color: #fff;
  background-clip: padding-box;
}
.card span.card-author {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-shadow: 1px 1px 2px #000;
}
.card .card-image {
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}
.card .card-image img {
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
  position: relative;
  width: 100%;
  height: 200px;
}
.card .card-image span.card-author {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.card .card-image span.card-type {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}
.card .card-content {
  font-size: 1em;
  font-weight: 300;
  padding: 10px 20px 10px 20px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 30px;
}
.card .card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 10px 20px 10px 20px;
}
@-moz-keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@-webkit-keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@-o-keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
