<form name="outerForm" class="tab-form-demo">
  <uib-tabset active="activeForm">
<!-- 상품분류표 -->
    <uib-tab index="0" heading="장바구니">
        <div class="tabPadding">
              <div class ="row show-hide-message" ng-show="basket.successMsg">
                <div class="alert alert-success">{{basket.successMsg}}</div>
              </div>
              <div class ="row show-hide-message" ng-show="basket.errorMsg">
                <div class="alert alert-danger">{{basket.errorMsg}}</div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>상품명</th>
                      <th>옵션</th>
                      <th>수량</th>
                      <th>상품가격</th>
                      <th>상품 총 가격</th>
                      <th>상품관리</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" ng-repeat = "item in basket.basketData">
                      <td>
                        <a ui-sref="app.category.show({item_id: item.item_id})" ui-sref-active="active">
                          {{item.item_name}}
                        </a>
                      </td>
                      <td>
                        <select  ng-disabled="basket.disabled"  class="form-control" name="mySelect" id="mySelect"
                          ng-options="option.name for option in basket.data[$index].availableOptions track by option.id"
                          ng-model="basket.data[$index].selectedOption">
                        </select>
                      </td>
                      <td>
                        <input style="margin: auto; width: 100px;" type="number" class="form-control" id="amount" ng-model="item.count">
                      </td>
                      <td>{{basket.data[$index].selectedOption.id}}원</td>
                      <td>
                        <p>{{item.count * basket.data[$index].selectedOption.id}}원</p>
                      </td>
                      <td>
                        <div>
                          <a ng-click="basket.makeBasket()" class="btn btn-warning">주문하기</a>
                        </div>
                        <div style="margin-top: 5px;">
                          <a ng-click="basket.delete({basket_id: item.basket_id});"class="btn btn-danger">삭제하기</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
    </uib-tab>
  </uib-tabset>
</form>

<div>
  총 결제금액
</div>