<form name="outerForm" class="tab-form-demo">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="개인정보수정">
            <div class="tabPadding">
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-3">
                        <label>이름</label>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="이름">
                    </div>
                    <div>
                        <button class="btn">수정</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-3">
                        <label>이메일</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="- 없이 입력하세요.">
                    </div>
                    <div>
                        <button class="btn">수정</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-3">
                        <label>휴대폰</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="- 없이 입력하세요.">
                    </div>
                    <div>
                        <button class="btn">수정</button>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="비밀번호변경">
            <div class="tabPadding">
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" placeholder="현재 비밀번호를 입력하세요.">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" placeholder="새로운 비밀번호를 입력하세요.">
                    </div>
                </div>
                <div>
                    <button style="width: 100%;" class="btn btn-success">비밀번호 변경</button>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>
</form>
