<form name="outerForm" class="tab-form-demo">
  <uib-tabset active="activeForm">
<!-- 상품분류표 -->
    <uib-tab index="0" heading="갤러리관리">
      <div class="tabPadding">
          <gallery-content></gallery-content>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="갤러리등록">
      <div class="tabPadding" >

      <div class ="row show-hide-message" ng-show="uploadGallery.errorMsg">
          <div class="alert alert-danger">{{uploadGallery.errorMsg}}</div>
      </div>

      <div class="row">
            <div class="col-sm-12">
              <div>
                <label>상품 이름</label>
                <input ng-disabled="createItem.disabled" type="text" class="form-control" ng-model="itemTitle">
              </div>
            <br>
            <label>상품 이미지</label>
          <!-- upload.minaThumbnail.dataUrl / 작품을 업로드 했을 때 이미지가 변환되게 ng-show & hide 속성을 추가 -->
              <div class="text-center">
                <div class="jumbotron"  ng-hide="uploadGallery.explainThumbnail.dataUrl">
                    <h2>상품 이미지를 업로드해주세요.</h2>
                    <p>상품 이미지는 1024*800 사이즈를 권장합니다.</p>
                </div>
                <div class="image-default"  ng-show="uploadGallery.explainThumbnail.dataUrl">
                  <img  class="img-responsive center-block" ng-src="{{uploadGallery.explainThumbnail.dataUrl}}">
                </div>
          <!-- 작품이 성공적으로 업로드 완료 되었을 때 숨김 -->
                <br>
                <div>
                  <label class="btn btn-success">이미지 찾기
                      <input ng-disabled="uploadGallery.disabled"  type="file" file-model="uploadGallery.file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().uploadGallery.readImage(this.files)">
                  </label>
                      <button ng-disabled="uploadGallery.disabled"  ng-click="uploadGallery.uploadImage(itemTitle)" class="btn btn-default">이미지 업로드</button>
                </div>
              </div>
            </div>
            <button ng-click="uploadGallery.uploadGallery(itemTitle)">갤러리 추가하기</button>
      </div>
      </div>
    </uib-tab>
  </uib-tabset>
</form>
