  <form name="outerForm" class="tab-form-demo">
    <uib-tabset active="activeForm">
<!-- 상품분류표 -->
      <uib-tab index="0" heading="상품 분류표">
          <div class="tabPadding" ng-controller="readTypeCtrl as readType">
                <div class ="row show-hide-message" ng-show="readType.successMsg">
                  <div class="alert alert-success">{{readType.successMsg}}</div>
                </div>
                <div class ="row show-hide-message" ng-show="readType.errorMsg">
                  <div class="alert alert-danger">{{readType.errorMsg}}</div>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>카테고리</th>
                        <th>분류명</th>
                        <th>상품옵션</th>
                        <th>상품가격</th>
                        <th>비고</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center" ng-repeat="type in readType.typeDatas">
                        <td>{{type.item_type_id}}</td>
                        <td>{{type.name}}</td>
                        <td>{{type.type_description}}</td>
                        <td class="text-left" >
                            <li style="padding-left: 15px;" ng-repeat="kind in type.kind track by $index">{{kind}}</li>
                        </td>
                        <td class="text-left">
                            <li style="padding-left: 15px;" ng-repeat="price in type.price track by $index">{{price}}원</li>
                        </td>
                        <td>
                          <button class="btn btn-warning" ui-sref=".update({item_type: type.item_type_id})"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i></button>
                          <button class="btn btn-danger" ng-click="readType.deleteType({item_type: type.item_type_id})"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
      </uib-tab>
<!-- ================================ 상품 분류표 등록 ====================================== -->
<uib-tab index="1" heading="상품 분류표 등록">
        <div class="tabPadding" ng-controller="createTypeCtrl as createType">
          <div class ="row show-hide-message" ng-show="createType.successMsg">
            <div class="alert alert-success">{{createType.successMsg}}</div>
          </div>
          <div class ="row show-hide-message" ng-show="createType.errorMsg">
            <div class="alert alert-danger">{{createType.errorMsg}}</div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>카테고리</th>

                  <th>분류코드명</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select  ng-disabled="createType.disabled"  class="form-control" name="mySelect" id="mySelect"
                      ng-options="option.name for option in createType.data.availableOptions track by option.id"
                      ng-model="createType.data.selectedOption">
                    </select>
                  </td>
                  <td>
                    <input ng-disabled="createType.disabled" type="text" class="form-control" id="type" data-ng-model="createType.itemData.type" placeholder="ex) 시트소재 부 메뉴, 부자재 부 메뉴">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>

<!-- 상품 옵션 추가 -->
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>상품 옵션 추가</th>
                    <th>상품 옵션</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center" >
                    <td>
                      <div class="input-group">
                        <input ng-disabled="createType.disabled" type="text" class="form-control" id="kind" data-ng-model="createType.kindData.kindValue" placeholder="ex) 실사소재 길이 800m">
                        <input ng-disabled="createType.disabled" type="number" class="form-control" id="kind" data-ng-model="createType.kindData.kindPrice" placeholder="ex) 실사가격 0000원">
                        <a class="input-group-addon btn btn-default" ng-click="createType.addLine(createType.kindData)">추가</a>
                      </div>
                    </td>
                    <td class="text-left">
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="list in createType.kindList">
                          {{list.kind}}({{list.price}}원)
                        </li>
                      </ul>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          <br>
          <div>
            <button class="btn btn-success" style="width:100%;" ng-click="createType.createType(createType.itemData);">상품 분류 등록</button>
          </div>
        </div>
</uib-tab>



<!-- ================================ 상품 관리 ====================================== -->
<uib-tab index="2" heading="상품 관리">
        <div class="tabPadding">
          <div class ="row show-hide-message" ng-show="items.successMsg">
            <div class="alert alert-success">{{items.successMsg}}</div>
          </div>
          <div class ="row show-hide-message" ng-show="items.errorMsg">
            <div class="alert alert-danger">{{items.errorMsg}}</div>
          </div>
          <div class="row">
          </div>

          <div class="row container-fluid">
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="photo in items.itemsData | filter:search |orderBy : data.selectedOption.sort ">
              <div class="card">
                    <div class="card-image">
                      <a ui-sref=".readItem({item_id: photo.item_id})" ui-sref-active="active">
                        <img class="img-responsive" ng-src="{{photo.thumbnail}}">
                      </a>
                    </div>
                    <div class="card-content text-center">
                      <span><label>{{photo.type_description}}</label>&nbsp;-&nbsp;{{photo.name}}</span>
                    </div>
                    <div class="card-action">
                        <div class="row">
                          <div class="text-center">
                            <button class="btn btn-warning" ui-sref=".updateItem({item_id: photo.item_id})"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i></button>
                            <button class="btn btn-danger" ng-click="items.deleteItem({item_id: photo.item_id})"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                          </div>
                       </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
</uib-tab>

<!-- ================================ 상품 등록 ====================================== -->

<uib-tab index="3" heading="상품 등록" >
  <div class="tabPadding"   ng-controller="createItemCtrl as createItem">
        <div class="row">
          <div class="col-sm-4">
            <label for="title">카테고리</label><span style="color: #e96725">(필수)</span>
            <div class="input-group">
              <select  ng-disabled="createItem.disabled"  class="form-control" name="mySelect" id="mySelect"
                ng-options="option.name for option in createItem.data.availableOptions track by option.id"
                ng-model="createItem.data.selectedOption">
              </select>
              <a class="input-group-addon btn btn-default" ng-click="createItem.readMenu(createItem.data.selectedOption)">확인</a>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="title">상품분류</label><span style="color: #e96725">(필수)</span>
            <div class="row">
              <div class="col-sm-12">
                <select  ng-disabled="createItem.disabled"  class="form-control" name="mySelect" id="mySelect"
                  ng-options="option.name for option in createItem.data2.availableOptions track by option.id"
                  ng-model="createItem.data2.selectedOption">
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="title">상품명</label><span style="color: #e96725">(필수)</span>
            <input ng-disabled="createItem.disabled" type="title" class="form-control" id="title" ng-model="createItem.itemData.title" placeholder="상품명을 입력해주세요.">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12" ng-hide="myCroppedImage">
                <label>썸네일 이미지</label>
                <div class="text-center">
                  <div class="jumbotron">
                      <h2>작품의 썸네일 이미지를 업로드해주세요.</h2>
                      <p>작품의 썸네일 이미지는 1024*800 사이즈를 권장합니다.</p>
                  </div>
                    <div class="">
                      <input class="btn" style="display: inline; margin-left: 70px;"type="file" id="fileInput"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 썸네일 이미지 올린 후 -->
        <div class="row">
            <div ng-show="myCroppedImage">
        <!-- 썸네일 이미지를 업로드 후 사라짐 시작-->
                <div class="col-sm-6"  ng-hide="createItem.thumbnail">
                    <div class="media">
                      <div class="media-body">
                        <label>썸네일</label>
                      </div>
                      <div class="media-right">
                      </div>
                    </div>
                    <br>
                    <div class="text-center" >
                      <div class="cropArea" ng-show="myCroppedImage">
                        <ui-cropper image="createItem.myImage" area-type="rectangle" result-image="myCroppedImage" result-image-size='{w: 400,h: 250}' ></ui-cropper>
                      </div>
                    </div>
                </div>
        <!-- 썸네일 이미지를 업로드 후 사라짐 종료-->

                <div class="col-sm-6">
                      <div>
                          <label>썸네일 이미지</label>
                      </div>
                      <br>
                      <div class="text-center" >
                        <div>
                          <img style="background-color:#000000;"ng-src="{{myCroppedImage}}" />
                        </div>
                        <br>
                        <div ng-hide="createItem.thumbnail">
                          <p>검은색 공간이 보이지 않도록 채워주세요.</p>
                          <a ng-disabled="createItem.disabled"  ng-click="createItem.readCropImage({base64Url: myCroppedImage});"class="btn btn-enroll">썸네일 업로드</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <!-- 썸네일 종료 -->


        <br>
        <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-info" ng-show="loading">이미지 업로드 중입니다.
                </div>

              <label>상품 메인 이미지</label>
        <!-- upload.minaThumbnail.dataUrl / 작품을 업로드 했을 때 이미지가 변환되게 ng-show & hide 속성을 추가 -->
                <div class="text-center">
                  <div class="jumbotron" ng-hide="createItem.mainThumbnail.dataUrl">
                      <h2>상품의 이미지를 업로드해주세요.</h2>
                      <p>상품의 이미지는 1024*800 사이즈를 권장합니다.</p>
                  </div>
                  <div class="image-default">
                    <img  class="img-responsive center-block" ng-src="{{createItem.mainThumbnail.dataUrl}}">
                  </div>
        <!-- 작품이 성공적으로 업로드 완료 되었을 때 숨김 -->
                  <br>
                  <div  ng-hide="createItem.mainPhoto">
                    <label class="btn btn-success">이미지 찾기
                        <input ng-disabled="createItem.disabled"  type="file" file-model="createItem.file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().createItem.mainPhotoChanged(this.files)">
                    </label>
                        <button ng-disabled="createItem.disabled" ng-click="createItem.readPhoto()" class="btn btn-default">이미지 업로드</button>
                  </div>
                </div>
              </div>
        </div>



        <br>
        <div class="row">
              <div class="col-sm-12">
              <label>상품 설명 이미지</label>
            <!-- upload.minaThumbnail.dataUrl / 작품을 업로드 했을 때 이미지가 변환되게 ng-show & hide 속성을 추가 -->
                <div class="text-center">
                  <div class="jumbotron" ng-hide="createItem.explainThumbnail.dataUrl">
                      <h2>상품 설명 이미지를 업로드해주세요.</h2>
                      <p>상품 설명 이미지는 1024*800 사이즈를 권장합니다.</p>
                  </div>
                  <div class="image-default">
                    <img  class="img-responsive center-block" ng-src="{{createItem.explainThumbnail.dataUrl}}">
                  </div>
            <!-- 작품이 성공적으로 업로드 완료 되었을 때 숨김 -->
                  <br>
                  <div ng-hide="createItem.explainPhoto">
                    <label class="btn btn-success">이미지 찾기
                        <input ng-disabled="createItem.disabled"  type="file" file-model="createItem.file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().createItem.explainPhotoChanged(this.files)">
                    </label>
                        <button ng-disabled="createItem.disabled"  ng-click="createItem.readPhotoExplain()" class="btn btn-default">이미지 업로드</button>
                  </div>
                </div>
              </div>
        </div>

            <br>
            <br>

        <div class="row">
              <div class="col-sm-12">
                <div id="makeBorder"></div>
                <div class ="row show-hide-message" ng-show="createItem.successMsg">
                  <div class="alert alert-success">{{createItem.successMsg}}</div>
                </div>
                <div class ="row show-hide-message" ng-show="createItem.errorMsg">
                  <div class="alert alert-danger">{{createItem.errorMsg}}</div>
                </div>
                <br>
                <div class="form-group text-center">
                  <button style="width: 100%;" ng-click="createItem.createPhoto(createItem.itemData)" ng-disabled="createItem.disabled"  type="submit" class="btn btn-enroll">작품 업로드</button>
                </div>
              </div>
        </div>
  </div>
</uib-tab>
</uib-tabset>
</form>
