<div class="row">
  <div class="col-sm-6">
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 이미지">
        <div class="tabPadding">
          <div class="photo-image">
            <img class="img-responsive center-block" ng-src="{{item.itemData.image}}" alt="{{item.itemData.title}}"><span class="mask"></span>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

	<div class="col-sm-6" >
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 정보">
        <div class="tabPadding">
          <div class="row">
            <div class="col-sm-6">
              <label for="title">상품명</label>
                <input ng-disabled="profile.disabled" type="title" class="form-control" id="title" ng-model="item.itemData.title" placeholder="상품명을 입력해주세요.">
            </div>
            <div class="col-sm-6">
              <label for="price">판매가격</label>
                <input ng-disabled="profile.disabled" type="price" class="form-control" id="price" ng-model="item.itemData.price" placeholder="판매가격을 입력해주세요.">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <label for="title">상품규격 1</label>
              <select  ng-disabled="item.disabled"  class="form-control" name="mySelect" id="mySelect"
                ng-options="option.name for option in item.data1.availableOptions track by option.id"
                ng-model="item.data1.selectedOption">
              </select>
            </div>
            <div class="col-sm-6">
              <label for="price">상품규격 2</label>
              <select  ng-disabled="item.disabled"  class="form-control" name="mySelect" id="mySelect"
                ng-options="option.name for option in item.data2.availableOptions track by option.id"
                ng-model="item.data2.selectedOption">
              </select>
            </div>
          </div>
          <br>

          <div class="text-center">
            <button class="btn btn-warning">정보 변경</button>
            <button class="btn btn-danger">상품 삭제</button>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<br>
<br>
<div>
    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
          <uib-tab index="0" heading="상세정보">
            <div class="tabPadding">
              <div class="photo-image">
                <img style="width: 100%;"class="img-responsive center-block" ng-src="{{item.itemData.explain}}" alt="{{item.itemData.title}}"><span class="mask"></span>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="상품문의">
            <div class="tabPadding">
            Some Tab Content
            </div>
          </uib-tab>
          <uib-tab index="2" heading="배송/반품/교환">
            <div class="tabPadding">
            More Tab Content
            </div>
          </uib-tab>
        </uib-tabset>
    </form>
</div>
