<div class="container">
<div class="row">
  <div class ="row show-hide-message" ng-show="readItem.successMsg">
    <div class="alert alert-success">{{readItem.successMsg}}</div>
  </div>
  <div class ="row show-hide-message" ng-show="readItem.errorMsg">
    <div class="alert alert-danger">{{readItem.errorMsg}}</div>
  </div>
  <div class="col-sm-6">
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 이미지">
        <div class="tabPadding">
          <div class="photo-image">
            <img class="img-responsive center-block" ng-src="{{readItem.itemData.image}}" alt="{{readItem.itemData.title}}"><span class="mask"></span>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

	<div class="col-sm-6" >
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="상품 정보">
        <div class="tabPadding">
          <div class="table-responsive">
      		  <table class="table table-bordered">
      		    <tbody>
      		      <tr>
      		        <td>상품명</td>
      		        <td>{{readItem.itemData.item_name}}</td>
      		      </tr>
      					<tr>
      						<td>상품가격</td>
      						<td>{{readItem.data.selectedOption.id}}</td>
      					</tr>
                <tr>
                  <td>옵션</td>
                  <td>
                    <select  ng-disabled="readItem.disabled"  class="form-control" name="mySelect" id="mySelect"
                      ng-options="option.name for option in readItem.data.availableOptions track by option.id"
                      ng-model="readItem.data.selectedOption">
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>수량</td>
                  <td>
                    <input style="width: 50px;" type="number" class="form-control" id="amount" ng-model="readItem.amount">
                  </td>
                </tr>
                <tr>
                  <td>상품 총 가격</td>
                  <td><p>{{readItem.amount*readItem.data.selectedOption.id}}원</p></td>
                </tr>
      		    </tbody>
      		  </table>
      	  </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<br>
<br>
<div>
    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
          <uib-tab index="0" heading="상세정보">
            <div class="tabPadding">
              <div class="photo-image">
                <img style="width: 100%;"class="img-responsive center-block" ng-src="{{readItem.itemData.explain}}" alt="{{readItem.itemData.name}}"><span class="mask"></span>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="상품문의">
            <div class="tabPadding">
            Some Tab Content
            </div>
          </uib-tab>
          <uib-tab index="2" heading="배송/반품/교환">
            <div class="tabPadding">
            More Tab Content
            </div>
          </uib-tab>
        </uib-tabset>
    </form>
</div>
</div>
