<uib-tabset active="payment.active" vertical="false">
    <uib-tab index="1" heading="제품확인">Justified content</uib-tab>
    <uib-tab index="2" heading="배송정보">Short Labeled Justified content</uib-tab>
    <uib-tab index="3" heading="결제확인">Long Labeled Justified content</uib-tab>
</uib-tabset>


<button type="button" class="btn btn-default btn-sm" ng-click="payment.prevPage(payment.active)">이전</button>
<button type="button" class="btn btn-default btn-sm" ng-click="payment.nextPage(payment.active)">다음</button>

